
/*1200*/

@media (max-width: 1200px) {
  
  /* Header */
  .header__content-title {
    font-size: 30px;
  }






  @media (max-width: 990px) {

    /*Portfolio*/
    .portfolio-work {
      margin: 15px;
    }



  }

}





  @media (max-width: 770px) {
    
    /*Header*/
    .header__menu {
      margin-top: 70px;
      position: relative;
    }
    .header__content-inner {
      padding-top: 110px;
    }
    .header__content-title {
      font-size: 25px;
    }
    .header__content-description {
      font-size: 14px;
      margin-bottom: 100px;
    }
    .header__menu-btn {
      display: block;
      font-size: 25px;
    }
    .header__menu li {
      display: block;
      text-align: center;
    }
    .header__menu a {
      display: block;
      margin-bottom: 10px;
      background: linear-gradient(to right, rgba(143, 211, 244, 0.8) 51%, rgba(132, 250, 176, 0.8) 100%);;
    }




    /*Toggle*/
    #toggle {
      visibility: visible;
      opacity: 1;
      margin-top: 6px;
    }
    #resize {
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background: rgba(0,0,0,.8);
      width: 100%;
      height: 100%;
      transition: all 0.6s ease-out;
      visibility: hidden;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    




    /*Section*/
    .section {
      padding: 40px 0;
    }
    .section__title {
      font-size: 18px;
    }



    /*Description*/
    .description__inner {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding: 50px 0;
    }
    .description__text {
      text-align: left;
      line-height: 23px;
    }
    .description__btn {
      margin: 30px auto;
    }
    .description__img {
      max-height: 300px;
    }

      /*Details*/
    .details__icons {
      max-width: 230px;
    }
    .details__icon {
      width: 60px;
      height: 60px;
    }
    .details__inner {
      margin: 40px auto 0;
    }
    .details__texts {
      flex-wrap: wrap;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
    .details__text1 {
      width: 100%;
      font-size: 14px;
      padding-bottom: 20px;
    }
    .details__text2 {
      font-size: 12px;
    }


    /*Project*/
    .project__inner {
      flex-wrap: wrap;
    }
    .project__item1 {
      width: 100%;
      height: 200px;
    }
    .project__item2 {
      width: 50%;
      height: 200px;
    }
    .project__item3 {
      width: 50%;
      height: 200px;
    }
    .project__name {
      font-size: 16px;
    }
    .project__footer-inner {
      flex-wrap: wrap;
      padding: 25px 0;
    }
    .project__footer-text {
      width: 100%;
      font-size: 14px;
      padding-bottom: 20px;
      text-align: center;
    }
    .project__footer-btn {
      font-size: 14px;
      margin: 0 auto;
    }

    /*Team*/
    .team__inner {
      flex-wrap: wrap;
    }
    .team__photo {
      margin: 0 auto;
      margin-bottom: 50px;
    }
    .team__textcontent {
      margin: 0 auto;
    }
    .team__quote-text {
      font-size: 12px;
      margin-bottom: 20px;
    }
    .team__stat-gray {
      margin-bottom: 0.7rem;
    }
    .team__footer-inner {
      margin: 30px auto;
    }


    /*Services*/
    .services {
      padding-bottom: 90px;
    }
    .services__inner {
      flex-wrap: wrap;
    }
    .services__column {
      width: 100%;
      flex-wrap: wrap;
    }
    .services__icons {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
    .services__icon {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
    .services__textcontent {
      margin: 20px auto;
    }
    .services__text1 {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .services__text2 {
      font-size: 12px;
      line-height: 21px;
    }
    .services-round {
      width: 90px;
      height: 90px;
    }
    .services-round__text {
      font-size: 12px;
    }


    
    /*Impressed*/
    .impressed__inner {
      flex-wrap: wrap;
      padding: 50px 0;
    }
    .impressed__info {
      width: 100%;
      padding-bottom: 40px;
    }
    .impressed__text {
      font-size: 14px;
    }
    .impressed__img {
      background-size: cover;
      margin: 0 auto;
      height: 200px;
      max-width: 250px;
    }
    .impressed__img-logo {
      max-width: 100px;
    }


    /*Portfolio*/
    .portfolio {
      padding-bottom: 50px;
    }
    .portfolio__nav {
      font-size: 11px;
      margin-bottom: 30px;
    }
    .portfolio__nav-link {
      margin: 0 3px;
    }
    .portfolio-work {
      max-width: 110px;
      margin: 0.5px;
    }
    .portfolio-work__info {
      max-width: 110px;
      padding: 10px;
    }
    .portfolio-work__title {
      font-size: 8px;
      letter-spacing: 2px;
    }
    .portfolio-work__text {
      font-size: 7px;
    }
    .portfolio-work__title:after {
      margin: 10px 0 15px 0;
    }
    .port-footer__inner {
      margin: 30px auto;
    }
    .port-footer__text {
      font-size: 14px;
    }

    


    /*Team*/
    .team__inner {
      flex-wrap: wrap;
    }
    .team__photo {
      width: 100%;
      max-width: 250px;
    }
    .team__textcontent {
      width: 100%;
      max-width: 300px;
    }
    .team__footer-text {
      font-size: 16px;
    }
    .team__textcontent::-webkit-scrollbar {
      width: 6px;
    }


    /*Testimonials*/
    .testimonials {
      padding-bottom: 50px ;
    }
    .testimonials__inner {
      flex-wrap: wrap;
      padding: 50px 20px;
    }
    .testimonials__photo {
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .testimonials__textcontent {
      margin: 0 auto;
    }
    .testimonials__text {
      line-height: 20px;
      font-size: 14px;
    }


    /*Slider*/
    .slider__header {
      margin: 20px;
    }
    .slider__content {
      margin: 20px 50px;
    }
    .slider__content-title {
      font-size: 14px;
    }
    .slider__subtitle {
      font-size: 12px;
    }
    .slider__content-text {
      font-size: 12px;
      line-height: 20px;
    }
    .slider__content-btn {
      font-size: 14px;
    }
    .slick-btn {
      width: 30px;
      height: 30px;
    }

    /*Price*/
    .price {
      padding-bottom: 20px;
    }
    .price__inner {
      flex-wrap: wrap;
    }
    .price-column {
      flex: none;
      width: 100%;
      margin: 10px auto;
    }

    /*Subscribe*/
    .subscribe__email {
      margin-bottom: 20px;
    }

  }


  @media (min-width: 770px) {
    .header__menu ul {
      display: block !important;
    }
  }







  @media (max-width: 575px) {
  
}